<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-white">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="changePasswordForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Current Password</label>
                        <div class="input-group">
                            <input type="password" name="currentPassword" id="currentPassword" class="form-control">
                            <button type="button" class="btn btn-outline-white" id="toggleCurrentPassword">
                                <i class="fa fa-eye"></i>
                            </button>
                            <div id="errCurrentPassword" class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <div class="input-group">
                            <input type="password" name="newPassword" id="newPassword" class="form-control">
                            <button type="button" class="btn btn-outline-white" id="toggleNewPassword">
                                <i class="fa fa-eye"></i>
                            </button>
                            <div id="errNewPassword" class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                        <div class="input-group">
                            <input type="password" name="confirmNewPassword" id="confirmNewPassword"
                                class="form-control">
                            <button type="button" class="btn btn-outline-white" id="toggleConfirmPassword">
                                <i class="fa fa-eye"></i>
                            </button>
                            <div id="errConfirmPassword" class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div id="errMismatch" class="text-danger"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#toggleCurrentPassword").on('click', function (e) {
            e.preventDefault();
            const input = document.getElementById('currentPassword');
            const icon = this.querySelector('i');
            if (input.type === 'password') {
                input.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                input.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        });
        $("#toggleNewPassword").on('click', function (e) {
            e.preventDefault();
            const input = document.getElementById('newPassword');
            const icon = this.querySelector('i');
            if (input.type === 'password') {
                input.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                input.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        });
        $("#toggleConfirmPassword").on('click', function (e) {
            e.preventDefault();
            const input = document.getElementById('confirmNewPassword');
            const icon = this.querySelector('i');
            if (input.type === 'password') {
                input.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                input.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        });
        $(".changePasswordForm").on('submit', function (e) {
            e.preventDefault()
            let CurrentPassword = $("#currentPassword").val()
            let NewPassword = $("#newPassword").val()
            let ConfirmPassword = $("#confirmNewPassword").val()
            $.ajax({
                url: '/changePassword',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: '<%= csrfToken %>',
                    CurrentPassword,
                    NewPassword,
                    ConfirmPassword
                },
                beforeSend: function () {
                    $('#btnSubmit').attr('disabled', 'disabled')
                },
                success: function (response) {
                    $('#btnSubmit').removeAttr('disabled')
                    if (response.error) {
                        if (response.error.Mismatch) {
                            $("#errMismatch").text(response.error.Mismatch)
                            $("#newPassword, #confirmNewPassword").addClass('is-invalid');
                        } else {
                            $("#errMismatch").text('')
                            $("#newPassword, #confirmNewPassword").removeClass('is-invalid');
                        }
                        if (response.error.CurrentPassword) {
                            $("#errCurrentPassword").text(response.error.CurrentPassword)
                            $("#currentPassword").addClass('is-invalid')
                        } else {
                            $("#errCurrentPassword").text('')
                            $("#currentPassword").removeClass('is-invalid')
                        }
                        if (response.error.NewPassword) {
                            $("#errNewPassword").text(response.error.NewPassword)
                            $("#newPassword").addClass('is-invalid')
                        } else {
                            $("#errNewPassword").text('')
                            $("#newPassword").removeClass('is-invalid')
                        }
                        if (response.error.ConfirmPassword) {
                            $("#errConfirmPassword").text(response.error.ConfirmPassword)
                            $("#confirmNewPassword").addClass('is-invalid')
                        } else {
                            $("#errConfirmPassword").text('')
                            $("#confirmNewPassword").removeClass('is-invalid')
                        }
                    } else {
                        window.location.reload()
                    }
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        })
    })
</script>