# Node modules
node_modules/

# Environment files
.env
.env.* 

# Uploads
public/upload/

# SSL / Private Keys
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
out/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
